In [1]:
import pandas as pd
import unicodedata

In [2]:
path = "../data/landing/activity_21851453697.csv"

In [3]:
df = pd.read_csv(path)
df.head()

,Unnamed: 0,Intervalo,Tipo de etapa,Volta,Tempo,Tempo acumulado,Distância,Ritmo médio,FC Média,FC máxima,Subida total,Descida total,Cadência de corrida média,Comprimento médio da passada,Calorias,Melhor ritmo,Cadência de corrida máxima,Tempo em movimento,Ritmo movimentação médio
0,NaN,NaN,Aquecimento,1 - 2,15:00,15:00,1.73,8:39,144,172,40,43,152,0.76,114,6:41,173,14:04,8:07
1,NaN,1,Corrida,3,1:00,16:00,0.25,4:03,153,166,4,5,185,1.34,10,3:46,202,0:51,3:27
2,NaN,2,Corrida,4,1:00,17:00,0.12,8:29,163,178,3,9,167,0.71,9,4:24,181,1:00,8:29
3,NaN,3,Corrida,5,1:00,18:00,0.25,3:56,183,194,8,0,182,1.40,12,3:47,188,0:59,3:52
4,NaN,4,Corrida,6,1:00,19:00,0.14,7:11,191,195,1,1,166,0.84,12,3:53,179,0:58,6:57

In [4]:
def normalized_columns(col):
    col = col.lower().strip()
    col = unicodedata.normalize('NFKC', col).encode("ascii", "ignore").decode("utf-8") # estudar isso aqui
    col = col.replace(" ", "_").replace(":", "")

    return col

In [58]:
df_cols_normalized = df.copy()
df_cols_normalized.columns = [normalized_columns(col) for col in df.columns]
df_cols_normalized.head()

,unnamed_0,intervalo,tipo_de_etapa,volta,tempo,tempo_acumulado,distncia,ritmo_mdio,fc_mdia,fc_mxima,subida_total,descida_total,cadncia_de_corrida_mdia,comprimento_mdio_da_passada,calorias,melhor_ritmo,cadncia_de_corrida_mxima,tempo_em_movimento,ritmo_movimentao_mdio
0,NaN,NaN,Aquecimento,1 - 2,15:00,15:00,1.73,8:39,144,172,40,43,152,0.76,114,6:41,173,14:04,8:07
1,NaN,1,Corrida,3,1:00,16:00,0.25,4:03,153,166,4,5,185,1.34,10,3:46,202,0:51,3:27
2,NaN,2,Corrida,4,1:00,17:00,0.12,8:29,163,178,3,9,167,0.71,9,4:24,181,1:00,8:29
3,NaN,3,Corrida,5,1:00,18:00,0.25,3:56,183,194,8,0,182,1.40,12,3:47,188,0:59,3:52
4,NaN,4,Corrida,6,1:00,19:00,0.14,7:11,191,195,1,1,166,0.84,12,3:53,179,0:58,6:57

In [59]:
df_cols_normalized.dropna(axis=1 ,how="all", inplace=True)
df_cols_normalized.head()

,intervalo,tipo_de_etapa,volta,tempo,tempo_acumulado,distncia,ritmo_mdio,fc_mdia,fc_mxima,subida_total,descida_total,cadncia_de_corrida_mdia,comprimento_mdio_da_passada,calorias,melhor_ritmo,cadncia_de_corrida_mxima,tempo_em_movimento,ritmo_movimentao_mdio
0,NaN,Aquecimento,1 - 2,15:00,15:00,1.73,8:39,144,172,40,43,152,0.76,114,6:41,173,14:04,8:07
1,1,Corrida,3,1:00,16:00,0.25,4:03,153,166,4,5,185,1.34,10,3:46,202,0:51,3:27
2,2,Corrida,4,1:00,17:00,0.12,8:29,163,178,3,9,167,0.71,9,4:24,181,1:00,8:29
3,3,Corrida,5,1:00,18:00,0.25,3:56,183,194,8,0,182,1.40,12,3:47,188,0:59,3:52
4,4,Corrida,6,1:00,19:00,0.14,7:11,191,195,1,1,166,0.84,12,3:53,179,0:58,6:57